@import "../variables.scss";

.mg-Menu {
  &-wrapper {
    width: 100%;
    min-width: 500px;

    @media screen and (max-width: $break-small) {
      min-width: 200px;
    }

    &-item {
      position: relative;
      text-align: center;
      font-size: 30px;
      font-family: shadows into light;
      transition: 0.5s;
      cursor: pointer;
      background: $menu-background-color;
      margin-bottom: 35px;
      left: 50%;
      height: 50px;
      transform: translate3d(-50%, 0, 0);

      &:before,
      &:after {
        content: "";
        height: 60px;
        width: 90px;
        background: #fff;
        position: absolute;
        z-index: 1;
      }

      &:before {
        transform: rotate(60deg);
        top: 0px;
        left: -60px;
      }

      &:after {
        transform: rotate(-60deg);
        top: 0px;
        right: -60px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
        color: $menu-link-color;
      }

      svg {
        width: 75%;
        height: 75%;
        padding-right: 5px;
      }

      &:hover {
        background: $menu-background-hover-color;
        transform: translate3d(-50%, 0, 0) rotate(-2deg);

        a {
          color: $menu-link-color;
        }
      }
    }
  }
}
